In [3]:
import pandas as pd

In [5]:
file = pd.read_excel("C:/Users/koushik.n/Downloads/CA_NOV_2023.xlsx")
file.head(20)

AttributeError: module 'numpy' has no attribute 'float'.
`np.float` was a deprecated alias for the builtin `float`. To avoid this error in existing code, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [3]:
file = file.drop(columns=['Column26','Column27','Column28','Column29'])
file.head(20)

,trip_id,src,dest,TC FWD/RTO,trip_creation_date_Time,Departure_Date_time,trip_end_date,trip_state,adhoc,fleet_vendor,...,Contract_type,CP_KM,Trip_Cost,Distance,trip_type,zone,PB/NON_PB,Mario_Load,Mario_GMV,trip_Week
0,TRP0a1e1978dac14048b32726756bcecb2f,Udaan Varanasi TC,Food Udaan Jaunpur Project Bharat,Varanasi TC,2023-10-02,2023-10-02,2023-10-02,COMPLETED,0,OTS Logistic,...,PER_TRIP,0.00,6500.00,NaN,TC-LM,North,PB,NaN,NaN,40
1,TRP430467a74d0e41ecafb916e5c4e11dc2,Udaan Bangalore TC,Udaan Mysore,Bangalore TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,0,RATHNA TRADERS,...,PER_TRIP,0.00,15000.00,NaN,TC-LM,South,PB,138.225,134384.0,40
2,TRP4fd7e1f4d99c4470900580771da27f67,Udaan Bangalore TC,Udaan Chitradurga Project Bharat,Bangalore TC,2023-10-01,2023-10-02,2023-10-02,COMPLETED,1,Ryblue,...,Adhoc,0.00,8000.00,NaN,TC-LM,South,PB,15.870,24724.0,40
3,TRPecc1af9b039f457f9330fffe974ee1b5,Udaan Ludhiana TC,Udaan Bulandpur,Ludhiana TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,0,NEW SAI KIRPA TRANSPORT GOODS CARRIER,...,PER_TRIP,0.00,8200.00,NaN,TC-LM,North,PB,NaN,NaN,40
4,TRP56e0ccc9087c4f898997a9ff557ad97c,Udaan Patna TC,Food Udaan Darbhanga Project Bharat,Patna TC,2023-10-01,2023-10-02,2023-10-02,COMPLETED,1,RAM CHANDRA TRANSPORT SERVICES,...,Adhoc,0.00,8700.00,NaN,TC-LM,East,PB,NaN,NaN,40
5,TRPb6e75150e27845afae7959cf33ad711c,Udaan Bangalore TC,Udaan Mysore,Bangalore TC,2023-10-02,2023-10-02,2023-10-03,COMPLETED,0,RATHNA TRADERS,...,PER_TRIP,0.00,15000.00,NaN,TC-LM,South,PB,104.991,88372.0,40
6,TRPd7061e85e4214fe09ad33802ccb5e551,Udaan Patna TC,Udaan Varanasi TC,Patna TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,0,Venture Supply Chain Pvt Ltd,...,PER_TRIP,0.00,11220.00,NaN,National,National,National,404.970,929513.0,40
7,TRPfa4f2ae5ad5f4a0385cbec9654c1ffac,Udaan Varanasi TC,Udaan Puramufti,Varanasi TC,2023-10-01,2023-10-01,2023-10-01,COMPLETED,1,Poorvanchal Goods Corporation,...,Adhoc,0.00,22000.00,NaN,TC-LM,North,PB,NaN,NaN,40
8,TRP74964e928c764b09bfc6492aa9084ce5,Udaan Ahmedabad TC,Udaan Indore,Ahmedabad TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,0,PAF Logistics,...,PER_KM,58.00,163270.00,NaN,National,National,National,10245.610,7682760.0,40
9,TRP76301cce3a394cbfa5b5f72870c00e4c,Udaan Patna TC,Food Udaan Biharsharif Project Bharat,Patna TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,0,RAM CHANDRA TRANSPORT SERVICES,...,PER_KM,30.00,5250.00,NaN,TC-LM,East,PB,308.207,222625.0,40
10,TRPba85d81d7bbf486b90f544f765496589,Udaan Ludhiana TC,Udaan Zirakpur,Ludhiana TC,2023-10-02,2023-10-02,2023-10-03,COMPLETED,0,NEW SAI KIRPA TRANSPORT GOODS CARRIER,...,PER_KM,42.45,9975.75,NaN,TC-LM,North,PB,91.199,75923.0,40
11,TRP785aebb6b4a54aeb93032f28396bb5f0,Udaan Patna TC,Food Udaan Darbhanga Project Bharat,Patna TC,2023-10-02,2023-10-02,2023-10-03,COMPLETED,0,RAM CHANDRA TRANSPORT SERVICES,...,PER_KM,35.50,16046.00,NaN,TC-LM,East,PB,47.026,17951.0,40
12,TRPa534276ba96644aeb887e9728434ff1a,Udaan Varanasi TC,Food Udaan Ratanpura Project Bharat,Varanasi TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,1,Poorvanchal Goods Corporation,...,Adhoc,0.00,18000.00,NaN,TC-LM,North,PB,120.171,185231.0,40
13,TRPd700270f8e4d4f5d96ef643cce2cc12d,Udaan Patna TC,Food Udaan Sitamarhi Project Bharat,Patna TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,0,Shiv Shakti Roadways,...,PER_KM,25.93,11927.80,NaN,TC-LM,East,PB,287.305,317649.0,40
14,TRP1b94497107d842edb739a041e299a5e0,Udaan Lucknow TC,Food Udaan Raebareli Project Bharat,Lucknow TC,2023-10-02,2023-10-02,2023-10-03,COMPLETED,0,OM SURFACE CHAIN LOGISTICS,...,PER_TRIP,0.00,7500.00,NaN,TC-LM,North,PB,63.500,75371.0,40
15,TRP3491bb0c452c48128b3f7e70864223a2,Udaan Ahmedabad TC,Food Udaan Surat,Ahmedabad TC,2023-10-02,2023-10-02,2023-10-02,COMPLETED,1,MI Logistics,...,Adhoc,0.00,10000.00,NaN,TC-LM,West,PB,795.551,932624.0,40
16,TRP6ca9a4b4f0d84bbfad94342f91568bbc,Udaan Patna TC,Food Udaan Arrah Project Bharat,Patna TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,0,Shiv Shakti Roadways,...,PER_TRIP,0.00,6000.00,NaN,TC-LM,East,PB,161.640,107132.0,40
17,TRPb058f623c78843ab9cd17f020b19f4bd,Udaan Patna TC,Food Udaan Areraj Project Bharat,Patna TC,2023-10-01,2023-10-01,2023-10-03,COMPLETED,0,Manoj Kumar Pandey,...,PER_KM,36.00,14760.00,NaN,TC-LM,East,PB,333.520,334662.0,40
18,TRP21a83bf2c0584328aa26b44254ba5cee,Udaan Patna TC,Food Udaan Nawada Project Bharat,Patna TC,2023-10-01,2023-10-01,2023-10-02,COMPLETED,0,SHANVI SERVICES,...,PER_KM,30.00,6900.00,NaN,TC-LM,East,PB,90.210,118937.0,40
19,TRP7b3aa1f1fa104c7e9e86d75996dd3167,Udaan Badshahpur TC,Food UDAAN KANPUR HUB,Badshahpur TC,2023-10-01,2023-10-01,2023-10-03,COMPLETED,0,Venture Supply Chain Pvt Ltd,...,PER_KM,50.00,62500.00,NaN,National,National,National,6364.329,7513114.0,40

In [3]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_id                  710 non-null    object
 1   src                      710 non-null    object
 2   dest                     710 non-null    object
 3   TC FWD/RTO               710 non-null    object
 4   trip_creation_date_Time  710 non-null    datetime64[ns]
 5   Departure_Date_time      710 non-null    datetime64[ns]
 6   trip_end_date            710 non-null    datetime64[ns]
 7   trip_state               710 non-null    object
 8   adhoc                    710 non-null    int64
 9   fleet_vendor             710 non-null    object
 10  vehicle_no               710 non-null    object
 11  model                    710 non-null    object
 12  Route_id+Vendor          710 non-null    object
 13  Route_id                 710 non-null    object
 14  Route_Key                710 non-null    object
 15  Contract_type            710 non-null    object
 16  CP_KM                    710 non-null    float64
 17  Trip_Cost                710 non-null    float64
 18  Distance                 0 non-null      float64
 19  trip_type                710 non-null    object
 20  zone                     710 non-null    object
 21  PB/NON_PB                710 non-null    object
 22  Mario_Load               649 non-null    float64
 23  Mario_GMV                649 non-null    float64
 24  trip_Week                710 non-null    int64
dtypes: datetime64[ns](3), float64(5), int64(2), object(15)
memory usage: 138.8+ KB

In [4]:
filt = (file['trip_Week'] == 46) & (file['adhoc'] == 0) & (file['zone'] != 'National')

In [5]:
ca = file.loc[filt]

In [6]:
pd.set_option('display.max_columns', 30)
ca

,trip_id,src,dest,TC FWD/RTO,trip_creation_date_Time,Departure_Date_time,trip_end_date,trip_state,adhoc,fleet_vendor,vehicle_no,model,Route_id+Vendor,Route_id,Route_Key,Contract_type,CP_KM,Trip_Cost,Distance,trip_type,zone,PB/NON_PB,Mario_Load,Mario_GMV,trip_Week
373,TRP40282fe182954ff99247e41bc7b38cd7,Udaan Bangalore TC,Udaan Dasanapura,Bangalore TC,2023-11-10,2023-11-10,2023-11-11,COMPLETED,0,Bannari Logistics,KA02AH3564,TRUCK_14,TROXX5X6OBannari Logistics,TROXX5X6O,"Udaan Bangalore TC, Udaan Dasanapura, Udaan Ha...",PER_TRIP,0.0,9200.0,NaN,TC-LM,South,PB,842.209,310702.0,46
376,TRPc50f8868a9624351b9ba2d777dadb5ee,Udaan Patna TC,Food Udaan Begusarai Project Bharat,Patna TC,2023-11-10,2023-11-10,2023-11-11,COMPLETED,0,Shiv Shakti Roadways,BR01GL2501,TRUCK_14,TROTGXWVOShiv Shakti Roadways,TROTGXWVO,"Udaan Patna TC, Food Udaan Begusarai Project B...",PER_KM,22.0,5940.0,NaN,TC-LM,East,PB,6.840,5696.0,46
378,TRPcfe037e4b0ea4ecbb8c044ce553a254b,Udaan Bangalore TC,Udaan Mysore,Bangalore TC,2023-11-11,2023-11-12,2023-11-12,COMPLETED,0,RATHNA TRADERS,KA53D6444,LARGE_TRUCK_20,TRO34IZBHRATHNA TRADERS,TRO34IZBH,"Udaan Bangalore TC, Udaan Mysore, Udaan Bangal...",PER_TRIP,0.0,15000.0,NaN,TC-LM,South,PB,57.635,31784.0,46
379,TRPe3c95bfc928546e0a2b383a0d6fd9478,Udaan Patna TC,Food Udaan Munger Project Bharat,Patna TC,2023-11-10,2023-11-10,2023-11-11,COMPLETED,0,Manoj Kumar Pandey,BR01GK7286,LARGE_TRUCK_17,TROBB7JV7Manoj Kumar Pandey,TROBB7JV7,"Udaan Patna TC, Food Udaan Munger Project Bhar...",PER_KM,28.0,9800.0,NaN,TC-LM,East,PB,NaN,NaN,46
380,TRPeb497d620cac4a87b1a7cb7c2f8e4531,Udaan Bangalore TC,Udaan Mysore,Bangalore TC,2023-11-10,2023-11-10,2023-11-11,COMPLETED,0,RATHNA TRADERS,KA53D6444,LARGE_TRUCK_20,TRO34IZBHRATHNA TRADERS,TRO34IZBH,"Udaan Bangalore TC, Udaan Mysore, Udaan Bangal...",PER_TRIP,0.0,15000.0,NaN,TC-LM,South,PB,389.883,514686.0,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,TRP1bc4ad68465c4b688408fc4a900682d8,Udaan Varanasi TC,Food Udaan Robertsganj Project Bharat,Varanasi TC,2023-11-16,2023-11-16,2023-11-17,COMPLETED,0,SRCV Supply Chain Pvt Ltd,UP32QN7172,LARGE_TRUCK_20,TROVGAIBPSRCV Supply Chain Pvt Ltd,TROVGAIBP,"Udaan Varanasi TC, Food Udaan Robertsganj Proj...",PER_TRIP,0.0,8200.0,NaN,TC-LM,North,PB,32.180,28413.0,46
702,TRP3a8dea6279734fa2b11c754d3b1fd371,Udaan Patna TC,Food Udaan Nawada Project Bharat,Patna TC,2023-11-16,2023-11-16,2023-11-17,COMPLETED,0,SHANVI SERVICES,JH05CX4512,LARGE_TRUCK_17,TROHYB23JSHANVI SERVICES,TROHYB23J,"Udaan Patna TC, Food Udaan Nawada Project Bhar...",PER_KM,30.0,6900.0,NaN,TC-LM,East,PB,43.150,36674.0,46
704,TRPd66dad0fd2bf43b19c979c560f559603,Udaan Patna TC,Food Udaan Biharsharif Project Bharat,Patna TC,2023-11-16,2023-11-16,2023-11-17,COMPLETED,0,RAM CHANDRA TRANSPORT SERVICES,BR01GL1744,LARGE_TRUCK_17,TRO4YJNAVRAM CHANDRA TRANSPORT SERVICES,TRO4YJNAV,"Udaan Patna TC, Food Udaan Biharsharif Project...",PER_KM,30.0,5250.0,NaN,TC-LM,East,PB,79.627,68642.0,46
705,TRP3605c2bd006a4bf295b1efbaa9b1b42a,Udaan Patna TC,Food Udaan Buxar Project Bharat,Patna TC,2023-11-16,2023-11-16,2023-11-17,COMPLETED,0,Jai Jai Ram Transport Services,BR01GF0135,BOLERO,TROZGNE3YJai Jai Ram Transport Services,TROZGNE3Y,"Udaan Patna TC, Food Udaan Buxar Project Bhara...",PER_KM,18.0,5760.0,NaN,TC-LM,East,PB,63.235,28884.0,46
706,TRP3b035bf6814a43af9d1c3a74d44a7782,Udaan Bangalore TC,Udaan Dasanapura,Bangalore TC,2023-11-16,2023-11-17,2023-11-17,COMPLETED,0,Bannari Logistics,KA02AH3564,TRUCK_14,TROXX5X6OBannari Logistics,TROXX5X6O,"Udaan Bangalore TC, Udaan Dasanapura, Udaan Ha...",PER_TRIP,0.0,9200.0,NaN,TC-LM,South,PB,437.419,353176.0,46

In [7]:
ca[['zone','PB/NON_PB']].value_counts()

zone   PB/NON_PB
East   PB           98
North  PB           48
South  PB           35
East   NON_PB       25
North  NON_PB        3
West   PB            3
dtype: int64

In [8]:
ca_group = ca.groupby('Route_id').agg({'trip_id':'count', 'Trip_Cost':'mean',  'Mario_Load': 'mean'})
ca_group

           trip_id  Trip_Cost   Mario_Load
Route_id
TRO23BKNB        4    7500.00    80.056250
TRO2MBLPS        6    5000.00    13.529750
TRO34IZBH        6   15000.00   191.491500
TRO4WVE6Y        5   10233.60   471.375200
TRO4YJNAV        5    5250.00   110.364200
TRO6K5UFW        5    6000.00   185.969667
TRO6VRLNF        4    8350.00    79.195500
TROBB7JV7        5    9800.00   110.464250
TROBD3PBN        2    9500.00  2333.741000
TROBKPF7F        5    9030.00   265.656800
TROC3ZZII        2    3000.00   580.195500
TROCMBKTS        5   14760.00   139.346800
TROCP2ACG        4    8200.00    27.753000
TRODRVMQX        1   23289.20  1463.825000
TRODVSU2W        4    9000.00   179.277250
TROFCZDUP        4    7200.00   181.353000
TROFNN3BO        6   13602.00    29.940000
TROGDWHA5        3    4000.00    11.411000
TROHAZ6CM        1   20700.00  1734.349000
TROHYB23J        5    6900.00    64.372400
TROISZ6LL        6   11000.00   111.893500
TROJJKCEF        4   39888.00  3185.914750
TROKELZMA        3   16560.00  1628.347333
TROKKKQ2X        1    8500.00  1428.341000
TROLIHAQG        3   23001.00   610.240667
TROLRVM6I        6    9000.00   261.751800
TROM5JPR3        3   15752.00  1720.567333
TROM5QYOB        1   10500.00   825.128000
TROMEJW5S        1    5520.00   535.258000
TROMGVSE4        4    6500.00   310.402500
TROMVEFX6        5    5790.00   340.745800
TROMWLUPW        5    3700.00    80.649000
TRONTOHO4        5    7302.40   171.029000
TROPDH6A3        4    9975.75    38.598000
TROQ2VCGL        1   12557.10  1160.992000
TROQ4CE6F        5   11927.80   189.345000
TROQZRC7Y        2    6000.00   485.551500
TROS63O6E        3    4000.00   584.601333
TROT7BNKE        5   12500.00    67.126400
TROTGXWVO        5    5940.00   132.788200
TROTPOONR        5   10721.00   175.901000
TROUGIICR        5    7030.00   122.366400
TROUY6PRA        4   17300.00   194.687250
TROVBT2IF        4    9800.00   245.474250
TROVGAIBP        4    8200.00    36.267750
TROVTHS2G        7    8712.00   249.913800
TROXOCU5F        5   11002.50   122.736400
TROXX5X6O        6    9200.00   521.441667
TROYAPIQN        5    7176.00   323.750000
TROZ2PSHF        4   11500.00   186.817000
TROZGNE3Y        5    5760.00   138.262800
TROZT5HH2        4    8000.00   157.324500

In [9]:
ca_group.to_excel("CA_WEEK46.xlsx")

In [10]:
filt2 = file['trip_Week'] == 46

In [11]:
ca2 = file.loc[filt2]

In [12]:
ca2.groupby(['zone','adhoc'])['trip_id'].count()

zone      adhoc
East      0        123
          1          1
National  0         33
North     0         51
          1          2
South     0         35
          1          5
West      0          3
Name: trip_id, dtype: int64

In [13]:
ca2['vol_wt'] = ca2['Mario_Load'] * 1.5
ca2

<ipython-input-13-b0ca641241e6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ca2['vol_wt'] = ca2['Mario_Load'] * 1.5

,trip_id,src,dest,TC FWD/RTO,trip_creation_date_Time,Departure_Date_time,trip_end_date,trip_state,adhoc,fleet_vendor,vehicle_no,model,Route_id+Vendor,Route_id,Route_Key,Contract_type,CP_KM,Trip_Cost,Distance,trip_type,zone,PB/NON_PB,Mario_Load,Mario_GMV,trip_Week,vol_wt
373,TRP40282fe182954ff99247e41bc7b38cd7,Udaan Bangalore TC,Udaan Dasanapura,Bangalore TC,2023-11-10,2023-11-10,2023-11-11,COMPLETED,0,Bannari Logistics,KA02AH3564,TRUCK_14,TROXX5X6OBannari Logistics,TROXX5X6O,"Udaan Bangalore TC, Udaan Dasanapura, Udaan Ha...",PER_TRIP,0.00,9200.0,NaN,TC-LM,South,PB,842.209,310702.0,46,1263.3135
375,TRPa54f2ec2a329456d9a3d00ae87f696bb,Udaan Ludhiana TC,Udaan Badshahpur TC,Ludhiana TC,2023-11-10,2023-11-10,2023-11-11,COMPLETED,0,Tejas Cargo,HR38Y7033,LARGE_TRUCK_32_S_HQ,Udaan Ludhiana TCUdaan Badshahpur TCTejas Cargo,Udaan Ludhiana TCUdaan Badshahpur TC,"Udaan Ludhiana TC, Udaan Badshahpur TC",PER_KM,31.00,10850.0,NaN,National,National,National,5760.856,2560331.0,46,8641.2840
376,TRPc50f8868a9624351b9ba2d777dadb5ee,Udaan Patna TC,Food Udaan Begusarai Project Bharat,Patna TC,2023-11-10,2023-11-10,2023-11-11,COMPLETED,0,Shiv Shakti Roadways,BR01GL2501,TRUCK_14,TROTGXWVOShiv Shakti Roadways,TROTGXWVO,"Udaan Patna TC, Food Udaan Begusarai Project B...",PER_KM,22.00,5940.0,NaN,TC-LM,East,PB,6.840,5696.0,46,10.2600
377,TRPc8f25e3f201346f2a12f434ade5767e2,Udaan Bhubaneswar TC,Udaan Dankuni,Bhubaneswar TC,2023-11-10,2023-11-10,2023-11-11,COMPLETED,0,SIMAR EXPRESS SOLUTIONS,WB03D2798,LARGE_TRUCK_17,Udaan Bhubaneswar TCUdaan DankuniSIMAR EXPRESS...,Udaan Bhubaneswar TCUdaan Dankuni,"Udaan Bhubaneswar TC, Udaan Dankuni",PER_KM,28.25,12712.5,NaN,National,National,National,1215.051,844239.0,46,1822.5765
378,TRPcfe037e4b0ea4ecbb8c044ce553a254b,Udaan Bangalore TC,Udaan Mysore,Bangalore TC,2023-11-11,2023-11-12,2023-11-12,COMPLETED,0,RATHNA TRADERS,KA53D6444,LARGE_TRUCK_20,TRO34IZBHRATHNA TRADERS,TRO34IZBH,"Udaan Bangalore TC, Udaan Mysore, Udaan Bangal...",PER_TRIP,0.00,15000.0,NaN,TC-LM,South,PB,57.635,31784.0,46,86.4525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,TRP1bc4ad68465c4b688408fc4a900682d8,Udaan Varanasi TC,Food Udaan Robertsganj Project Bharat,Varanasi TC,2023-11-16,2023-11-16,2023-11-17,COMPLETED,0,SRCV Supply Chain Pvt Ltd,UP32QN7172,LARGE_TRUCK_20,TROVGAIBPSRCV Supply Chain Pvt Ltd,TROVGAIBP,"Udaan Varanasi TC, Food Udaan Robertsganj Proj...",PER_TRIP,0.00,8200.0,NaN,TC-LM,North,PB,32.180,28413.0,46,48.2700
702,TRP3a8dea6279734fa2b11c754d3b1fd371,Udaan Patna TC,Food Udaan Nawada Project Bharat,Patna TC,2023-11-16,2023-11-16,2023-11-17,COMPLETED,0,SHANVI SERVICES,JH05CX4512,LARGE_TRUCK_17,TROHYB23JSHANVI SERVICES,TROHYB23J,"Udaan Patna TC, Food Udaan Nawada Project Bhar...",PER_KM,30.00,6900.0,NaN,TC-LM,East,PB,43.150,36674.0,46,64.7250
704,TRPd66dad0fd2bf43b19c979c560f559603,Udaan Patna TC,Food Udaan Biharsharif Project Bharat,Patna TC,2023-11-16,2023-11-16,2023-11-17,COMPLETED,0,RAM CHANDRA TRANSPORT SERVICES,BR01GL1744,LARGE_TRUCK_17,TRO4YJNAVRAM CHANDRA TRANSPORT SERVICES,TRO4YJNAV,"Udaan Patna TC, Food Udaan Biharsharif Project...",PER_KM,30.00,5250.0,NaN,TC-LM,East,PB,79.627,68642.0,46,119.4405
705,TRP3605c2bd006a4bf295b1efbaa9b1b42a,Udaan Patna TC,Food Udaan Buxar Project Bharat,Patna TC,2023-11-16,2023-11-16,2023-11-17,COMPLETED,0,Jai Jai Ram Transport Services,BR01GF0135,BOLERO,TROZGNE3YJai Jai Ram Transport Services,TROZGNE3Y,"Udaan Patna TC, Food Udaan Buxar Project Bhara...",PER_KM,18.00,5760.0,NaN,TC-LM,East,PB,63.235,28884.0,46,94.8525
706,TRP3b035bf6814a43af9d1c3a74d44a7782,Udaan Bangalore TC,Udaan Dasanapura,Bangalore TC,2023-11-16,2023-11-17,2023-11-17,COMPLETED,0,Bannari Logistics,KA02AH3564,TRUCK_14,TROXX5X6OBannari Logistics,TROXX5X6O,"Udaan Bangalore TC, Udaan Dasanapura, Udaan Ha...",PER_TRIP,0.00,9200.0,NaN,TC-LM,South,PB,437.419,353176.0,46,656.1285

In [14]:
ca2.groupby('zone')['vol_wt'].sum()

zone
East         78899.2410
National    159355.8990
North        18916.8930
South         8906.7510
West            17.1165
Name: vol_wt, dtype: float64

In [7]:
ca['trip_creation_date_Time'].dt.day_name()

876     Saturday
877       Friday
879       Friday
880       Friday
881     Saturday
          ...
1222    Thursday
1233    Thursday
1237    Thursday
1249    Thursday
1254    Thursday
Name: trip_creation_date_Time, Length: 231, dtype: object